.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
}

.header-active-button-nocircle,
.header-menu-link {
    text-decoration: none;
}

.header-active-button-nocircle {
    list-style: none;
}

.header-logo img {
    display: block;
    width: 130px;
}

.header-menu-list {
    display: flex;
    gap: 32px;
    list-style: circle;
    font-size: 18px;
}

.header-address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-style: normal;
    max-width: 240px;
    justify-self: end;
    font-size: 18px;
    line-height: 1.35;
}

.header-address-text {
    text-decoration: none;
}

/* Детальная стилизация обложки страницы (входной секции) */
.cover {
    position: relative;
    min-height: 757px;
    background: url('../images/cover.jpg') center/cover no-repeat;
    padding: 165px 50px 50px;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.cover-title {
    margin-bottom: 135px;
    text-transform: uppercase;
    color: #fff;
    font-size: 100px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.3em;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.cover-text {
    display: block;
    margin: 0;
}

.cover-row-left {
    line-height: 1.15;
}

.cover-row-center {
    text-align: center;
    line-height: 1;
    margin-left: 60px;
}

.cover-row-right {
    text-align: right;
    line-height: 1;
}

.cover-description {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 78px;
}

.cover-description-text {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.27;
    text-transform: uppercase;
    word-spacing: 18px;
}
.bet-button {
    padding: 12px 32px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
}

/* Выполнение детальной стилизации секции с карточками */

.lots {
    padding: 180px 50px;
}

.lots-heading {
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 27px;
        padding-left: 40px;
    }

.lots-card-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: flex-start;
    margin-left: -20px;
}

.lots-card-list-item {
    flex: 1;
    min-height: 450px;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    height: 100%;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-type-film {
    background: url('../images/card-lot-01.jpg') center/cover no-repeat;
}

.card-type-book {
    background: url('../images/card-lot-02.jpg') center/cover no-repeat;
}

.card-type-picture {
    background: url('../images/card-lot-03.jpg') center/cover no-repeat;
}

.card-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: underline;
    text-transform: uppercase;
    z-index: 1;
}

.card-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    z-index: 1;
}

.text-first-column {
    padding: 4px 32px 48px;
}

.text-second-column {
    padding: 0 40px 48px;
    margin-top: -240px;

}

.text-third-column {
    padding-left: 54px;
    margin-top: -144px;
}

.card-title,
.card-text {
    position: relative;
    z-index: 2;
}

.more-link {
    font-size: 20px;
    margin-left: 40px;
    text-underline-position: under;
}


/* Секция «Об аукционе» */

.about {
    display: grid;
    grid-template-columns: 430px 1fr;
    gap: 25px;
    padding: 0 50px;
}

.about-logo {
    display: flex;
    justify-content: center;
}

.about-logo-circle {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-logo-image {
    width: 148px;
    height: auto;
}

.about-title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.about-column {
    padding-top: 100px;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.about-paragraph {
    font-size: 20px;
    line-height: 1.2;
}

/* Подвал сайта */

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 180px 50px 90px;
    align-items: start;

.footer-address {
    font-style: normal;
    font-size: 18px;
    line-height: 1.35;
    text-underline-position: under;
}

.footer-menu {
    justify-self: center;
}

.footer-menu-list {
    list-style: none;
    text-align: center;
    font-size: 18px;
}

.footer-line {
    text-decoration: none;
}

.footer-menu-item {
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

/* Соцсети */
.footer-social-list {
    display: flex;
    gap: 48px;
    list-style: none;
    justify-self: end;
}

.footer-social-item img {
    width: 48px;
    height: 48px;
}

